.video {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.stream-layout{
    top: 0px;
    left: 0px;
    position: absolute;
}
.options-layout{
    bottom: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 5px 0px;
}
.settings{    
    padding: 10px;
    top: 5px;
    right: 5px;
    position: absolute;
    background-color: white;
    z-index:3;
    
}
.settings-title{
    color:black;
    font-size: 25px;
}

.settings-options{
    margin-top: 20px;
}

.float-right.material-icons{
    cursor: pointer;
}