<div class="row m-0">
    <div class="col-12 p-0">
        <div class="stream-layout" [style.max-height]="layoutheight+'px'">
            <video #video *ngIf="streaming" [style.display]="showCanvas?'none':'block'" class="video" [height]="layoutheight" [srcObject]="videostream" autoplay></video>
            <canvas #canvas [style.display]="showCanvas?'block':'none'" class="video" [style.height]="layoutheight+'px'" id="canvas"></canvas>
        </div>
        <div class="options-layout">
            
            <button class="btn text-light mx-1" (click)="settings=true"><i class="material-icons">settings</i></button>
            <button *ngIf="isMobile" class="btn text-light mx-1" (click)="toggleCamera()" [disabled]="!isMobile">
                <i class="material-icons">loop</i>
            </button>
            <button class="btn text-light mx-1" (click)="capturePhoto()"><i class="material-icons">photo_camera</i></button>
            <button class="btn text-light mx-1"><i class="material-icons">videocam</i></button>
            <button class="btn text-light mx-1" (click)="showCaptures=true"><i class="material-icons">collections</i></button>
        </div>
    </div>
    <div class="col-12 m-2">
        <canvas class="d-none"></canvas>
        <img class="screenshot-image d-none" alt="">
    </div>
</div>


<div class="settings w-100 w-md-50" *ngIf="settings">
    <div class="settings-title">Camera Settings
        <i class="float-right material-icons" (click)="settings=false;">close</i>
    </div>
    <div class="settings-options">
        <div>
            <app-input class="w-50" type="select" [options]="options" label="Choose Camera" [(value)]="camera"
            (valueChange)="startCamera()"></app-input>
        </div>
        <div>
            <span>Camera</span>
            <mat-slide-toggle class="mx-2" (toggleChange)="streaming?stopStream():startCamera()" color="accent"
                [checked]="streaming">
                {{streaming?"On":"Off"}}
            </mat-slide-toggle>
            <button class="btn text-light mx-1"><i class="material-icons">flash_off</i></button>
        </div>
        <div>
            <span>Show Canvas</span>
            <mat-slide-toggle class="mx-2" (toggleChange)="showCanvas=!showCanvas;drawCanvas();" color="accent"
                [checked]="showCanvas">
                {{showCanvas?"On":"Off"}}
            </mat-slide-toggle>
        </div>
            
    </div>
</div>

<div class="settings w-100 w-md-50" *ngIf="showCaptures">
    <div class="settings-title">Captures
        <i class="float-right material-icons" (click)="showCaptures=false;">close</i>
    </div>
    <div class="settings-options" *ngIf="captures.length>0">
        <div *ngFor="let c of captures;index as i" class="m-2">
            <div class="d-inline-block">
                <img [src]="c.url" width="250px"/>
            </div>
            <div class="d-inline-block capture-actions">
                <i (click)="saveCapture(c)" class="material-icons mx-2 text-info">save</i>
                <i (click)="removeCapture(i)" class="material-icons mx-2 text-danger">delete</i>
            </div>
        </div>
    </div>
</div>