.preview-container{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: -webkit-fil-available;
    display: block;
    text-align: center;
    .preview-margin{
        margin-top:10%;
        display: block;
        text-align: center;
        opacity: 1;
        width:100%;
        .preview-block{
            padding:20px;
            display: inline-block;
            background:white;
            width:350px;
            .preview-header{
                color:black;
                font-size: 15px;
                .preview-name{
                    max-width: 150px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-block;
                }
            }
            .preview-content{
                margin-top:20px;
                img{width:300px;}
                video{width:300px;}
                audio{width:300px;}
            }
        }
    }
}

.preview-menu{
    background-color: cornsilk;
}

.material-icons{
    cursor:pointer;
}